.filterContainer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
}

.filter {
  position: sticky;
  width: 15%;
  height: 40vh;
  top: 10vh;
  /* background-color: red; */
  overflow-y: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.sandwichContainerFilter {
  height: auto;
  width: 85%;
  /* background-color: blue; */
}
