.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  /* margin: 0 auto; */
}

.modalContent {
  /* Animation */
  animation: float-up;
  animation-duration: 0.5s;
  transform-origin: bottom;

  /* position */
  margin: auto;
  margin-top: 5vh;

  /* size */
  width: 500px;
  height: 750px;

  /* style */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 25px;
}

@keyframes float-up {
  0% {
    top: 1000px;
  }
  100% {
    top: 0px;
  }
}

.closeButton {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  padding: 10px;
  cursor: pointer;

  transition: 0.3s;
}

.closeButton:hover {
  color: #a0eb31;
  transition: 0.3s;
}

.modalImageContainer {
  width: 100%;
  height: 40%;
  border-radius: 3px;
}

.modalImage {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.modalContent h1 {
  font-style: italic;
  font-size: 2em;
  text-align: center;
}

.modalContent p {
  text-align: center;
}

.orderNow {
  cursor: pointer;
  background-color: #a0eb31;
  color: #313131;

  font-size: 2em;
  padding: 10px 100px;
  border: none;
  border-radius: 50px;

  box-shadow: 0px 1px 4px 0px grey;
  transition: 0.3s;
}

.orderNow:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.orderFlex {
  bottom: 8%;
  left: 0;
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-style: italic;
}

@media only screen and (max-width: 768px) {
  .modalImageContainer {
    width: 100%;
    height: 30%;
    border-radius: 3px;
  }
  .modalContent {
    /* size */
    margin-top: 0vh;
    width: 100%;
    height: 100%;

    /* style */
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* padding: 25px; */
  }
  .modalContent p {
    font-size: 0.9em;
    text-align: center;
  }
  .modalContent h1 {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: 400px) {
  .modalContent p {
    font-size: 0.7em;
    text-align: center;
  }
  .orderNow {
    font-size: 1.5em;
    padding: 8px 40px;
    border: none;
    border-radius: 50px;
  }
}
