.modal {
  /* display: none; */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  /* margin: 0 auto; */
}

.modalContent {
  /* Animation */
  transform-origin: bottom;

  /* position */
  margin: auto;
  margin-top: 5vh;

  /* size */
  width: 600px;
  height: calc(var(--vh, 1vh) * 90);

  /* style */
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  padding: 25px;
}

.closeButton {
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  line-height: 20px;
  padding: 7px;
  cursor: pointer;

  transition: 0.3s;
  z-index: 20;
}

.closeButton:hover {
  color: #a0eb31;
  transition: 0.3s;
}

.modalImageContainer {
  width: 100%;
  height: 70%;
  border-radius: 3px;
  overflow-y: auto;
}

.modalImage {
  width: 100%;
  height: 60%;

  object-fit: cover;
}

.modalContent h1 {
  font-style: italic;
  font-size: calc(0.75em + 2.3vmin);
  text-overflow: clip;
  text-align: center;
  height: auto;
}

.modalContent p {
  height: auto;
  text-align: center;
  font-size: calc(0.35em + 1.5vmin);
}

.orderNow {
  cursor: pointer;
  background-color: #a0eb31;
  color: #313131;

  font-size: calc(1em + 1vmin);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;

  box-shadow: 0px 1px 4px 0px grey;
  transition: 0.3s;
}

.orderNow:hover {
  transition: 0.3s ease;
  background-color: #313131;
  color: #cded5c;
}

.orderFlex {
  bottom: 0%;
  left: 0;
  position: absolute;
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: white;
  padding: 15px;
}

.modalBottom {
  position: absolute;
  bottom: 0;
  right: 10px;
  padding: 10px;
  font-style: italic;
  font-size: calc(0.35em + 0.5vmin);
}
.sectionModal {
  border-bottom: 1px solid rgba(150, 150, 150, 0.514);
  margin-bottom: 7px;
  padding-bottom: 7px;
}
.mobileOrderFlex {
  display: none;
}

.modalImageContainer h3 {
  font-style: italic;
  font-size: calc(0.75em + 2vmin);
  text-overflow: clip;
  text-align: center;
  height: auto;
  padding: 10px;
}

.modalToppings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.modalToppings > li {
  height: 25%;
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: calc(0.45em + 1.1vmin);
  cursor: pointer;
}

.modalInput {
  height: auto;
  cursor: pointer;
}

.modalInput label {
  cursor: pointer;
}

.modalInput input {
  cursor: pointer;
  margin-right: 10px;
}
@media only screen and (max-width: 1440px) and (max-height: 600px) {
  .modalImageContainer {
    height: 60%;
    border-radius: 3px;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    text-align: center;
  }

  .orderNow {
    padding: 10px 30px;
  }
}
@media only screen and (max-width: 1440px) and (max-height: 400px) {
  .modalContent {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  .modalInformation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 40%;
    position: relative;
  }
  .closeButton {
    left: 0;
    font-size: 30px;
  }
  .mobileOrderFlex {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalImageContainer {
    margin: 0 auto;
    width: 60%;
    height: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    width: 90%;
    text-align: center;
    margin: 0 auto;
  }
  .orderFlex {
    display: none;
  }
  .orderNow {
    padding: 3px 15px;
    font-size: calc(0.6em + 2vmin);
  }
  .modalBottom {
    display: none;
  }
  .sectionModal {
    border-bottom: 0px;
  }
  .modalTopFiller {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .modalContent {
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    border-radius: 0%;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) and (max-height: 600px) {
  .modalContent {
    margin: 0;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    text-align: center;
  }
}
@media only screen and (max-width: 600px) and (max-height: 200px) {
  .modalContent h1 {
    padding: 0;
    margin: 0;
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    text-align: center;
  }

  .orderNow {
    padding: 3px 8px;
    font-size: calc(0.4em + 1.3vmin);
  }
}
@media only screen and (max-width: 450px) {
  .modalContent {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 2.3vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 450px) and (max-height: 400px) {
  .modalContent {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.75em + 1vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    font-size: calc(0.45em + 0.5vmin);
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 450px) and (max-height: 200px) {
  .modalContent {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.65em + 1vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    font-size: calc(0.35em + 0.5vmin);
    text-align: center;
    padding: 0;
  }
  .orderFlex {
    position: relative;
  }
}
@media only screen and (max-width: 250px) {
  .modalContent {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }

  .modalContent h1 {
    font-size: calc(0.65em + 1vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    font-size: calc(0.35em + 0.5vmin);
    text-align: center;
    padding: 0;
  }
}
@media only screen and (max-width: 250px) and (max-height: 350px) {
  .modalContent {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
  }
  .modalImageContainer {
    width: 50%;
  }
  .modalInformation {
    width: 50%;
  }

  .modalContent h1 {
    font-size: calc(0.65em + 1vmin);
    width: 90%;
    margin: 0 auto;
  }
  .modalContent p {
    font-size: calc(0.35em + 0.5vmin);
    text-align: center;
    padding: 0;
  }
}
