body {
  width: 100%;
  height: 100%;
  background-color: rgb(251, 251, 253);
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

.sandContainer {
  width: 70%;
  height: auto;

  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;

  /*  */
  /* background-color: grey; */
}

.signature_sandwiches {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
  padding-bottom: 3%;
}

.signature_sandwiches > h2 {
  width: 80%;
  text-align: center;
  font-size: calc(0.75em + 6vmin);
  color: #000000;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
}

.signature_sandwiches p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(0.75em + 1vmin);
  color: rgb(85, 85, 85);
  font-style: italic;
}

.section {
  scroll-margin: 10vh;
  height: auto;
  width: 100%;
  padding-bottom: 10px;
}
.section h2 {
  height: auto;
  width: 100%;
  font-size: calc(0.75em + 2.3vmin);
  padding-top: 10px;

  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  transition: 0.3s;

  cursor: pointer;
}

.section h2:hover {
  transition: 0.3s;
}

.section > p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(0.75em + 1vmin);
  color: rgb(85, 85, 85);
  margin-bottom: 8px;
}
.show {
  /* border: 1px solid black; */
  height: auto;
  display: flex;
  justify-content: baseline;

  flex-flow: row wrap;
  transform-origin: top center;
}

.itemCard {
  cursor: pointer;

  /*  */
  width: 49.5%;
  height: 15vh;
  margin-top: 0.5%;
  margin-bottom: 0.5%;

  /*  */
  border: 1px solid rgba(0, 0, 0, 0.253);
  background-color: white;
  border-radius: 7px;
  transition: 0.3s;

  /*  */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemCard:nth-child(odd) {
  margin-right: 0.5%;
}
.itemCard:nth-child(even) {
  margin-left: 0.5%;
}

.itemCardSmall {
  /* margin: 0 auto; */
  cursor: pointer;

  /*  */
  width: 24.5%;
  height: 9vh;

  /*  */
  border: 1px solid rgba(0, 0, 0, 0.253);
  background-color: white;
  border-radius: 7px;
  transition: 0.3s;

  /*  */
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.itemCard:hover,
.itemCardSmall:hover {
  border: 1px solid rgba(0, 0, 0, 0.651);
  transition: 0.3s;
}

.cardDes {
  text-align: left;
  overflow-y: auto;
  /* background-color: red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.cardHeader {
  /* #cded5c */
  height: auto;
  width: 100%;
  background-color: #4f535c;
  display: flex;
  justify-content: center;
  transition: all 0.3s;
  color: white;
}
.cardDes > p {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(102, 102, 102);
  padding: 4px;
  font-size: calc(0.35em + 1.2vmin);
  overflow: hidden;
}

.cardHeader:hover,
.cardheader:active {
  transition: all 0.2s;
  background-color: #cded5c;
  color: black;
}

.cardHeaderColorChange {
  transition: all 0.3s;
  background-color: #cded5c;
  color: black;
}

.cardHeaderColorChange h3,
.cardHeaderColorChange p {
  color: black !important;
  transition: all 0.3s;
}

.cardHeader h3 {
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-style: italic;
  width: 70%;
  height: 100%;
  text-align: left;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-size: calc(0.55em + 1.3vmin);

  transition: all 0.2s;
}

.cardHeader p {
  margin: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  /* background-color: yellow; */
  font-style: italic;
  width: 30%;
  height: 100%;
  text-align: right;
  margin-right: 7px;
  transition: all 0.2s;
  font-size: calc(0.35em + 1.2vmin);
}

.cardImgCon {
  /* margin: 3px 3px 3px 3px; */
  float: right;
  /* background-color: teal; */
  width: 20%;
  height: 100%;
  /* background-color: #4f535c; */

  overflow: hidden;

  /* border-radius: 5px;0 */
}

.cardImg {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.flexCon {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .itemCard:nth-child(odd) {
    margin-right: 0%;
  }
  .itemCard:nth-child(even) {
    margin-left: 0%;
  }

  .cardDes p {
    font-size: calc(0.55em + 1.5vmin);
  }
  .itemCard {
    width: 85vw;
    height: 20vh;
  }
  .itemCardSmall {
    width: 85vw;
    height: 15vh;
  }
  .cardImgCon {
    width: 30%;
  }

  .container h2 {
    font-size: 7.5vw;
  }

  .signature_sandwiches h2 {
    font-size: calc(0.75em + 4vmin);
  }
  .section {
    scroll-margin: 20vh;
  }
  .sandContainer {
    width: 85%;
  }
}
@media only screen and (max-width: 450px) {
  .cardImgCon {
    width: 40%;
  }
}
