.cartContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);

  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.cart {
  position: absolute;
  height: 100%;
  width: 40%;
  background-color: white;
  right: 0;
  display: flex;
  flex-wrap: wrap;
}

.cartItems {
  height: 70%;
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  gap: 1vh 1vh;
  padding-top: 2vh;
}
.cartCheckout {
  position: relative;
  height: 30%;
  width: 100%;

  background-color: #4f535c;

  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart_Empty {
  position: absolute;
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-size: large;
  font-style: italic;
}
.closeButtonCartItem {
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  line-height: 20px;
  padding: 7px;
  cursor: pointer;

  transition: 0.3s;
  text-shadow: 1px 2px 1px black, 1px 2px 1px black;
  z-index: 20;
}
.closeButtonCartItem_Blank {
  color: black;
  position: relative;
  right: 0;
  top: 0;
  font-size: 50px;
  line-height: 20px;
  padding: 7px;
  cursor: pointer;

  transition: 0.3s;
  text-shadow: 1px 2px 1px #a0eb31;
  z-index: 20;
}
.productDes_Blank {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: transparent;
}
.closeButtonCartItem_cartCheckout {
  text-shadow: black 1px 2px 2px;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 50px;
  line-height: 20px;
  padding: 7px;
  cursor: pointer;

  transition: 0.3s;
  z-index: 20;
}

.cartTotal {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cartTotalInfo {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cartTotalInfo > h3 {
  color: white;
  height: 10%;
  width: 50%;
  font-size: 16px;
}
.cartTotalInfo > p {
  color: white;
  height: 10%;
  width: 50%;
  font-size: 16px;
}

.cartOrderContainer {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartOrder {
  cursor: pointer;
  background-color: #a0eb31;
  color: #313131;

  font-size: calc(0.4em + 0.5vmin);
  padding: 10px 40px;
  border: none;
  border-radius: 50px;

  /* box-shadow: 0px 1px 4px 0px grey; */
  transition: 0.3s;
}

.cartOrder:hover {
  transition: 0.3s ease;
  background-color: #313131;
  color: #cded5c;
}
.productContainer {
  height: 15vh;
  width: 90%;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.253);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productImageContainer {
  float: right;
  height: 100%;
  width: 30%;
  position: relative;
}

.productImage {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.productTitleCon {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35%;
  width: 100%;
  padding: 7px;
  background-color: #cded5c;
}

.productDesContainer {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
}
.productDes {
  padding: 10px;
  height: 65%;
  width: 100%;
  overflow-y: auto;
}

.productDesContainer h3 {
  font-size: calc(0.8em + 0.9vmin);
  color: #313131;
}

.productDesContainer h4 {
  font-size: calc(0.8em + 0.9vmin);
  color: #313131;
  text-align: center;
}
.productTraits {
  font-size: calc(0.5em + 0.9vmin);
}
.productInfo {
  padding-top: 5px;
  font-size: calc(0.4em + 0.9vmin);
  color: gray;
}

@media only screen and (max-width: 1000px) {
  .cart {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .cartOrder {
    font-size: calc(0.3em + 0.4vmin);
    padding: 10px 40px;
  }
  .cartCheckout {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .cartTotalInfo {
    height: 20%;
  }
}
@media only screen and (max-width: 400px) and (max-height: 500px) {
  .cartTotalInfo {
    height: 30%;
  }
}
