.homeContainer {
  scroll-margin: 10vh;
  height: 85vh;
  width: 100%;
  background: rgb(43, 38, 36);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.img_container {
  opacity: 1;
  height: 100%;
  width: 100%;
  position: absolute;
}
.main_img_block {
  object-fit: contain;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.4s ease-in-out 0s;
}
.img_block {
  z-index: 1;
  opacity: 0;
  /* object-fit: contain; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: opacity 0.4s ease-in-out 0s;
}
.nav {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_container {
  z-index: 13;
  text-align: center;
  /*  */

  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-flow: row wrap;

  height: 85vh;
  width: 80%;
}

.nav_container h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-flow: row wrap;

  height: 100%;
  width: 100%;
}

.homeTitle {
  padding: 0px 40px;
  font-weight: bold;
  font-size: calc(1em + 10vmin);
  color: white;
  cursor: pointer;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.active {
  z-index: 10;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .homeTitle {
    font-weight: 1000;
    font-size: calc(1em + 8vmin);
    color: white;
    cursor: pointer;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-width: 400px) {
  .homeTitle {
    padding: 0px 10px;
    font-weight: 1000;
    font-size: calc(0.6em + 6vmin);
    color: white;
    cursor: pointer;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
}

@media only screen and (max-height: 400px) {
  .homeContainer {
    height: 100vh;
  }
}
