@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700;1,900&display=swap');

.container {
  position: relative;
  background-color: rgb(245, 245, 245);
  padding-bottom: 8vh;

  width: 100%;
  height: auto;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25vh;
  width: 100%;
}

.title h2 {
  width: 80%;
  text-align: center;
  font-size: calc(0.75em + 6vmin);
  color: #000000;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
}

.title p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(0.75em + 1vmin);
  opacity: 0.7;
}

.gridContainerDesktop {
  height: 125vh;
  width: 85%;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.gridContainerMobile {
  display: none;
}

.large {
  cursor: pointer;
  border-radius: 25px;
  border: transparent;

  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.small {
  cursor: pointer;
  border-radius: 25px;
  border: transparent;

  position: relative;
  overflow: hidden;
  transition: all 0.3s;
}

.small:hover {
  transition: all 0.3s;
}

.imageContainer {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 1;
}

.description {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 20%;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.description p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: calc(0.75em + 1.5vmin);
}

@media only screen and (max-width: 768px) {
  .gridContainerMobile {
    width: 85%;
    margin: 0 auto;

    grid-auto-rows: minmax(100px, auto);

    height: 150vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  .gridContainerDesktop {
    display: none;
  }

  .title h2 {
    font-size: calc(0.75em + 4vmin);
  }
}
