@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header li,
a,
button,
p {
  /* font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 16px; */
  text-decoration: none;
}
header {
  height: 10vh;
  width: 100%;

  background-color: #4f535c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vh 1vw;
  z-index: 50;
  position: sticky;
  top: 0;
}

.logo-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  object-fit: cover;
  cursor: pointer;
  width: 90px;
  height: 100%;

  border-radius: 50%;
}

.orderButton {
  margin-left: 20px;
}

.navlinks {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.navlinks li {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  font-size: 16px;

  display: inline-block;
  margin: 0px 2vw;
  padding-bottom: 3px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cartDesktop {
  text-align: center;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.navActive {
  border-bottom: 1px solid white;
}

.orderButton {
  background-color: #cded5c;
  color: #313131;
  cursor: pointer;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  opacity: 1;
  transition: 0.3s ease 0s;
}
.orderButton:hover {
  transition: all 0.3s ease 0s;
  color: black;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.title h1 {
  cursor: pointer;
  margin: -10px;
  letter-spacing: 4px;
  font-family: 'Pangolin';
  font-size: 14em;
  font-style: italic;
  color: #a0eb31;
}

.noMargin {
  margin: 0;
  padding: 0;
}

.mobileNav {
  display: none;
}

.mobileNavlinks {
  width: 100%;
  position: fixed;
  overflow-y: hidden;
  left: 0;
  top: 0;
  background-color: #4f535c;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  list-style: none;
}
.listItem {
  height: 20%;
  width: 100%;
  font-family: 'Merriweather', serif;
  font-weight: 900;
  font-style: italic;
  font-size: calc(0.75em + 9vmin);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 800px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .orderButton {
    display: none;
  }
  .mobileCart {
    color: white;
    font-size: 24px;
    margin-right: 12px;
  }
  .logo {
    width: 90px;

    border-radius: 50%;
  }
}

@media only screen and (max-width: 500px) {
  .navlinks li {
    display: block;
    padding: 5px 2vw;
  }

  .orderButton {
    margin-left: 20px;
  }
}
@media only screen and (max-height: 550px) {
  header {
    height: 15vh;
  }
}
@media only screen and (max-height: 400px) {
  .logo {
    width: 50px;
    height: 50px;

    border-radius: 50%;
  }
}
@media only screen and (max-height: 250px) {
  header {
    height: 22vh;
  }
  .logo {
    width: 45px;
    height: 45px;

    border-radius: 50%;
  }
}

.color {
  height: 10vh;
  width: 100%;
  background-color: blue;
}
